[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=setxkbmap -option '' -option 'ctrl:swapcaps'
Comment=
Exec=/usr/bin/setxkbmap -option '' -option 'ctrl:swapcaps'
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=true

