[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jwerner/Desktop/ALA Skript.pdf]
row=4
col=0

[/home/jwerner/Desktop/ala-11.pdf]
row=0
col=1

[/home/jwerner/Desktop/paul 09.pdf]
row=5
col=0

[/home/jwerner/Desktop/ALA 09.pdf]
row=1
col=1

[/home/jwerner/Desktop/ala-10.pdf]
row=0
col=0

[/home/jwerner/Desktop/ALA 08.pdf]
row=2
col=1

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/jwerner]
row=3
col=0

