[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jwerner/Desktop/ala-11.pdf]
row=5
col=11

[/home/jwerner/Desktop/ALA 08.pdf]
row=2
col=6

[/home/jwerner/Desktop/ALA 09.pdf]
row=2
col=10

[/home/jwerner/Desktop/ALA Skript.pdf]
row=1
col=6

[/home/jwerner/Desktop/paul 09.pdf]
row=4
col=6

[/home/jwerner/Desktop/ala-10.pdf]
row=5
col=10

[0964-10FB]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/jwerner]
row=4
col=0

